.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #FFFDF5;
    z-index: 999;
}
.top-bar .container {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.top-bar-left {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.top-bar-left svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.top-bar-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.nav-link {
  position: relative;
  text-decoration: none;
  padding: 6px 12px;
  cursor: pointer;
  white-space: nowrap;
  background: none;
  z-index: 1;
  overflow: hidden;
  transition: color 0.2s ease;
}
.nav-link::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: transparent;
  z-index: -1;
  transition: background-color 0.2s ease;
}
.nav-link:hover::after {
  background-color: #F2F0E9;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    gap: auto;
  }
  
    .top-bar-center {
    gap: auto;
  }

  .logo-text {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  .top-bar.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
  }
  .hamburger::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;
    background-color: transparent;
    z-index: -1;
    width: 100%;             /* обрамляет только текст + padding */
    transition: background-color 0.2s ease;
  }
  .hamburger:hover::after,
  .hamburger[aria-expanded="true"]::after {
    background-color: #F2F0E9;
  }

  .top-bar-center {
    position: fixed;
    top: 0;
    right: -100%;          /* полностью за экраном справа */
    width: 100%;           /* ширина панели */
    height: 100vh;         /* вся высота экрана */
    background-color: #FFFDF5;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 64px 20px 20px 20px; /* учёт top-bar */
    box-sizing: border-box;
    border-left: 1px solid #E6E3DA;
    z-index: 100;
    transition: right 0.4s ease;
  }
  .top-bar-center.active {
    right: 0;              /* видна панель */
  }
  .top-bar-center nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
 
    .top-bar-center nav {
    align-items: flex-start;
  }

  .nav-link {
    width: auto;
    padding: 6px 12px;
  }

  .nav-link::after {
    inset: 0;
  }

 .top-bar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    }
}
