@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Regular.woff2') format('woff2'),
       url('../fonts/VelaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Medium.woff2') format('woff2'),
       url('../fonts/VelaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-SemiBold.woff2') format('woff2'),
       url('../fonts/VelaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Title SemiBold — 54px*/
.title-semi-bold {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 600;
  font-size: clamp(32px, 6vw, 54px); /* адаптивный размер */
  line-height: 1;
  color: #000000;
}
/* SemiBold — 36px */
.semi-bold {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 500;
  font-size: clamp(24px, 5vw, 36px);
  line-height: 1.2;
  color: #000000;
}
/* Headline Medium — 24px */
.headline-medium {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 1.2;
  color: #141414;
}
/* PreHeadline Medium — 18px */
.preheadline-medium {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 3.5vw, 18px);
  line-height: 1.4;
  color: #141414;
}
/* Text Regular — 14px */
.text-regular {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1F1F1F;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Text Caption — 10px */
.text-caption {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-size: clamp(8px, 1.5vw, 10px);
  line-height: 1.4;
  color: #666666;
}
.logo-text {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-button {
  font-family: 'Vela Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
